.App {
  text-align: center;
}

.Gradient {
  background: 'linear-gradient(45deg, var(--background-start) 30%, var(--background-end) 90%)';
  border-radius: 3;
  border: 0;
  color: 'white';
  padding: '0 30px';
  box-shadow: '0 3px 5px 2px var(--box-shadow)';
  --background-start: '#FE6B8B';
  --background-end: '#FF8E53';
  --box-shadow: 'rgba(255, 105, 135, .3)';
}
